#kaocha/v1
 {:tests [{:id :unit
           :test-paths ["test"]
           :source-paths ["src"]
           :kaocha.filter/skip-meta [:integration]}

          {:id :integration
           :test-paths ["test"]
           :source-paths ["src"]
           :kaocha.filter/focus-meta [:integration]}]}
